<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysConfigMapper">

    <resultMap type="com.ruoyi.common.core.entity.SysConfigEntity" id="SysConfigResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="key" column="key"/>
        <result property="value" column="value"/>
        <result property="type" column="type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectConfigVo">
        select id,
               "name",
               "key",
               "value",
               "type",
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from "system".sys_config
    </sql>

    <!-- 查询条件 -->
    <sql id="sqlwhereSearch">
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="key !=null and key != ''">
                and "key" = #{key}
            </if>
        </where>
    </sql>

    <select id="selectConfig" parameterType="com.ruoyi.common.core.entity.SysConfigEntity"
            resultMap="SysConfigResult">
        <include refid="selectConfigVo"/>
        <include refid="sqlwhereSearch"/>
    </select>

    <select id="selectConfigList" parameterType="com.ruoyi.system.domain.query.SysConfigQuery"
            resultMap="SysConfigResult">
        <include refid="selectConfigVo"/>
        <where>
            <if test="name != null and name != ''">
                AND "name" like concat('%', #{name}, '%')
            </if>
            <if test="type != null and type != ''">
                AND "type" = #{type}
            </if>
            <if test="key != null and key != ''">
                AND "key" like concat('%', #{key}, '%')
            </if>
            <if test="createTimeBegin != null and createTimeBegin != ''">
                and create_time &gt;= createTimeBegin
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                and create_time &lt;= createTimeEnd
            </if>
        </where>
    </select>

    <select id="checkConfigKeyUnique" parameterType="String" resultMap="SysConfigResult">
        <include refid="selectConfigVo"/>
        where "key" = #{key} limit 1
    </select>

    <insert id="insertConfig" parameterType="com.ruoyi.common.core.entity.SysConfigEntity" keyProperty="id">
        insert into "system".sys_config (
        <if test="name != null and name != '' ">"name",</if>
        <if test="key != null and key != '' ">"key",</if>
        <if test="value != null and value != '' ">"value",</if>
        <if test="type != null and type != '' ">"type",</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="name != null and name != ''">#{name},</if>
        <if test="key != null and key != ''">#{key},</if>
        <if test="value != null and value != ''">#{value},</if>
        <if test="type != null and type != ''">#{type},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        now()
        )
    </insert>

    <update id="updateConfig" parameterType="com.ruoyi.common.core.entity.SysConfigEntity">
        update "system".sys_config
        <set>
            <if test="name != null and name != ''">"name" = #{name},</if>
            <if test="key != null and key != ''">"key" = #{key},</if>
            <if test="value != null and value != ''">"value" = #{value},</if>
            <if test="type != null and type != ''">"type" = #{type},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = now()
        </set>
        where id = #{id}::uuid
    </update>

    <delete id="deleteConfigById" parameterType="String">
        delete
        from "system".sys_config
        where id = #{id}::uuid
    </delete>

    <delete id="deleteConfigByIds" parameterType="String">
        delete from "system".sys_config where id in
        <foreach item="configId" collection="array" open="(" separator="," close=")">
            #{configId}::uuid
        </foreach>
    </delete>

</mapper>