<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDictTypeMapper">

    <resultMap type="com.ruoyi.common.core.entity.SysDictTypeEntity" id="SysDictTypeResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="enable" column="enable"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectDictTypeVo">
        select id, "name", "type", "enable", create_by, create_time, remark
        from "system".sys_dict_type
    </sql>

    <select id="selectDictTypeList" parameterType="com.ruoyi.system.domain.query.SysDictTypeQuery"
            resultMap="SysDictTypeResult">
        <include refid="selectDictTypeVo"/>
        <where>
            <if test="name != null and name != ''">
                AND "name" like concat('%', #{name}, '%')
            </if>
            <if test="enable != null">
                AND enable = #{enable}
            </if>
            <if test="type != null and type != ''">
                AND "type" like concat('%', #{type}, '%')
            </if>
            <if test="createTimeBegin != null and createTimeBegin != ''">
                and create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                and create_time &lt;= #{createTimeEnd}
            </if>
        </where>
    </select>

    <select id="selectDictTypeAll" resultMap="SysDictTypeResult">
        <include refid="selectDictTypeVo"/>
    </select>

    <select id="selectDictTypeById" parameterType="String" resultMap="SysDictTypeResult">
        <include refid="selectDictTypeVo"/>
        where id = #{dictId}::uuid
    </select>

    <select id="selectDictTypeByType" parameterType="String" resultMap="SysDictTypeResult">
        <include refid="selectDictTypeVo"/>
        where "type" = #{dictType}
    </select>

    <select id="checkDictTypeUnique" parameterType="String" resultMap="SysDictTypeResult">
        <include refid="selectDictTypeVo"/>
        where "type" = #{dictType} limit 1
    </select>

    <delete id="deleteDictTypeById" parameterType="String">
        delete
        from "system".sys_dict_type
        where id = #{id}::uuid
    </delete>

    <delete id="deleteDictTypeByIds" parameterType="String">
        delete from "system".sys_dict_type where id in
        <foreach collection="array" item="dictId" open="(" separator="," close=")">
            #{dictId}
        </foreach>
    </delete>

    <update id="updateDictType" parameterType="com.ruoyi.common.core.entity.SysDictTypeEntity">
        update "system".sys_dict_type
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">"type" = #{type},</if>
            <if test="enable != null">enable = #{enable},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = now()
        </set>
        where id = #{id}::uuid
    </update>

    <insert id="insertDictType" parameterType="com.ruoyi.common.core.entity.SysDictTypeEntity" keyProperty="id">
        insert into "system".sys_dict_type(
        <if test="name != null and name != ''">name,</if>
        <if test="type != null and type != ''">type,</if>
        <if test="enable != null">enable,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="name != null and name != ''">#{name},</if>
        <if test="type != null and type != ''">#{type},</if>
        <if test="enable != null">#{enable},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        now()
        )
    </insert>

</mapper> 