<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysMenuMapper">

    <resultMap type="com.ruoyi.system.domain.entity.SysMenuEntity" id="SysMenuResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentName" column="parent_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="path" column="path"/>
        <result property="component" column="component"/>
        <result property="query" column="query"/>
        <result property="isFrame" column="is_frame"/>
        <result property="isCache" column="is_cache"/>
        <result property="type" column="type"/>
        <result property="visible" column="visible"/>
        <result property="enable" column="enable"/>
        <result property="perms" column="perms"/>
        <result property="icon" column="icon"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectMenuVo">
        select id,
               name,
               parent_id,
               order_num,
               path,
               component,
               "query",
               is_frame,
               is_cache,
               type,
               visible,
               enable,
               COALESCE(perms, '') as perms,
               icon,
               create_time
        from "system".sys_menu
    </sql>

    <select id="selectMenuList" parameterType="com.ruoyi.system.domain.query.SysMenuQuery"
            resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        <where>
            <if test="name != null and name != ''">
                AND "name" like concat('%', #{name}, '%')
            </if>
            <if test="visible != null">
                AND visible = #{visible}
            </if>
            <if test="enable != null">
                AND enable = #{enable}
            </if>
        </where>
        order by parent_id, order_num
    </select>

    <select id="selectMenuTreeAll" resultMap="SysMenuResult">
        select distinct m.id,
                        m.parent_id,
                        m.name,
                        m.path,
                        m.component,
                        m."query",
                        m.visible,
                        m.enable,
                        COALESCE(m.perms, '') as perms,
                        m.is_frame,
                        m.is_cache,
                        m.type,
                        m.icon,
                        m.order_num,
                        m.create_time
        from "system".sys_menu m
        where m.type in ('M', 'C')
          and m.enable = true
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuListByUserId" parameterType="com.ruoyi.system.domain.entity.SysMenuEntity"
            resultMap="SysMenuResult">
        select distinct m.id, m.parent_id, m.name, m.path, m.component, m."query", m.visible, m.enable,
        COALESCE(m.perms,'') as perms, m.is_frame, m.is_cache, m.type, m.icon, m.order_num, m.create_time
        from "system".sys_menu m
        left join "system".sys_role_menu rm on m.id = rm.menu_id
        left join "system".sys_user_role ur on rm.role_id = ur.role_id
        left join "system".sys_role ro on ur.role_id = ro.id
        where ur.user_id = #{userId}::uuid
        <if test="menu.name != null and menu.name != ''">
            AND m.name like concat('%', #{name}, '%')
        </if>
        <if test="menu.visible != null">
            AND m.visible = #{menu.visible}
        </if>
        <if test="menu.enable != null">
            AND m.enable = #{menu.enable}
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuTreeByUserId" parameterType="String" resultMap="SysMenuResult">
        select distinct m.id,
                        m.parent_id,
                        m.name,
                        m.path,
                        m.component,
                        m."query",
                        m.visible,
                        m.enable,
                        COALESCE(m.perms, '') as perms,
                        m.is_frame,
                        m.is_cache,
                        m.type,
                        m.icon,
                        m.order_num,
                        m.create_time
        from "system".sys_menu m
                 left join "system".sys_role_menu rm on m.id = rm.menu_id
                 left join "system".sys_user_role ur on rm.role_id = ur.role_id
                 left join "system".sys_role ro on ur.role_id = ro.id
                 left join "system".sys_user u on ur.user_id = u.id
        where u.id = #{userId}::uuid
          and m.type in ('M', 'C')
          and m.enable = true
          AND ro.enable = true
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuListByRoleId" resultType="String">
        select m.id
        from "system".sys_menu m
        left join "system".sys_role_menu rm on m.id = rm.menu_id
        where rm.role_id = #{roleId}::uuid
        <if test="menuCheckStrictly">
            and m.id not in (select m.parent_id from "system".sys_menu m inner join "system".sys_role_menu rm on m.id =
            rm.menu_id and rm.role_id = #{roleId}::uuid and m.parent_id is not null)
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuPerms" resultType="String">
        select distinct m.perms
        from "system".sys_menu m
                 left join "system".sys_role_menu rm on m.id = rm.menu_id
                 left join "system".sys_user_role ur on rm.role_id = ur.role_id
    </select>

    <select id="selectMenuPermsByUserId" parameterType="String" resultType="String">
        select distinct m.perms
        from "system".sys_menu m
                 left join "system".sys_role_menu rm on m.id = rm.menu_id
                 left join "system".sys_user_role ur on rm.role_id = ur.role_id
                 left join "system".sys_role r on r.id = ur.role_id
        where m.enable = true
          and r.enable = true
          and ur.user_id = #{userId}::uuid
    </select>

    <select id="selectMenuById" parameterType="String" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        where id = #{menuId}::uuid
    </select>

    <select id="hasChildByMenuId" resultType="Integer">
        select count(1)
        from "system".sys_menu
        where parent_id = #{menuId}::uuid
    </select>

    <select id="checkMenuNameUnique" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        where "name"=#{menuName} and parent_id = #{parentId}::uuid limit 1
    </select>

    <update id="updateMenu" parameterType="com.ruoyi.system.domain.entity.SysMenuEntity">
        update "system".sys_menu
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentId != null">parent_id = #{parentId}::uuid,</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="path != null and path != ''">"path" = #{path},</if>
            <if test="component != null">component = #{component},</if>
            <if test="query != null">"query" = #{query},</if>
            <if test="isFrame != null">is_frame = #{isFrame},</if>
            <if test="isCache != null">is_cache = #{isCache},</if>
            <if test="type != null and type != ''">"type" = #{type},</if>
            <if test="visible != null">visible = #{visible},</if>
            <if test="enable != null">enable = #{enable},</if>
            <if test="perms !=null">perms = #{perms},</if>
            <if test="icon !=null and icon != ''">icon = #{icon},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = now()
        </set>
        where id = #{id}::uuid
    </update>

    <insert id="insertMenu" parameterType="com.ruoyi.system.domain.entity.SysMenuEntity" keyProperty="id">
        insert into "system".sys_menu(
        <if test="id != null and id != ''">id,</if>
        <if test="parentId != null and parentId != ''">parent_id,</if>
        <if test="name != null and name != ''">name,</if>
        <if test="orderNum != null">order_num,</if>
        <if test="path != null and path != ''">path,</if>
        <if test="component != null and component != ''">component,</if>
        <if test="query != null and query != ''">"query",</if>
        <if test="isFrame != null">is_frame,</if>
        <if test="isCache != null">is_cache,</if>
        <if test="type != null and type != ''">type,</if>
        <if test="visible != null">visible,</if>
        <if test="enable != null">enable,</if>
        <if test="perms !=null and perms != ''">perms,</if>
        <if test="icon != null and icon != ''">icon,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="id != null and id != ''">#{id}::uuid,</if>
        <if test="parentId != null and parentId != ''">#{parentId},</if>
        <if test="name != null and name != ''">#{name},</if>
        <if test="orderNum != null">#{orderNum},</if>
        <if test="path != null and path != ''">#{path},</if>
        <if test="component != null and component != ''">#{component},</if>
        <if test="query != null and query != ''">#{query},</if>
        <if test="isFrame != null">#{isFrame},</if>
        <if test="isCache != null">#{isCache},</if>
        <if test="type != null and type != ''">#{type},</if>
        <if test="visible != null">#{visible},</if>
        <if test="enable != null">#{enable},</if>
        <if test="perms !=null and perms != ''">#{perms},</if>
        <if test="icon != null and icon != ''">#{icon},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        now()
        )
    </insert>

    <delete id="deleteMenuById" parameterType="String">
        delete
        from "system".sys_menu
        where id = #{menuId}
    </delete>

</mapper> 