<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRoleMapper">

    <resultMap type="com.ruoyi.common.core.entity.SysRoleEntity" id="SysRoleResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="key" column="key"/>
        <result property="sort" column="sort"/>
        <result property="dataScope" column="data_scope"/>
        <result property="menuCheckStrictly" column="menu_check_strictly"/>
        <result property="deptCheckStrictly" column="dept_check_strictly"/>
        <result property="enable" column="enable"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectRoleVo">
        select distinct r.id,
                        r.name,
                        r.key,
                        r.sort,
                        r.data_scope,
                        r.menu_check_strictly,
                        r.dept_check_strictly,
                        r.enable,
                        r.del_flag,
                        r.create_time,
                        r.remark
        from "system".sys_role r
                 left join "system".sys_user_role ur on ur.role_id = r.id
                 left join "system".sys_user u on u.id = ur.user_id
                 left join "system".sys_dept d on u.dept_id = d.id
    </sql>

    <select id="selectRoleList" parameterType="com.ruoyi.system.domain.query.SysRoleQuery"
            resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        where r.del_flag = '0'
        <if test="id != null and id != ''">
            AND r.id = #{id}
        </if>
        <if test="name != null and name != ''">
            AND r.name like concat('%', #{name}, '%')
        </if>
        <if test="enable != null">
            AND r.enable = #{enable}
        </if>
        <if test="key != null and key != ''">
            AND r.key like concat('%', #{key}, '%')
        </if>
        <if test="createTimeBegin != null and createTimeBegin != ''">
            and r.create_time &gt;= #{createTimeBegin}
        </if>
        <if test="createTimeEnd != null and createTimeEnd != ''">
            and r.create_time &lt;= #{createTimeEnd}
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by r.sort
    </select>

    <select id="selectRolePermissionByUserId" parameterType="String" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        WHERE r.del_flag = false and ur.user_id = #{userId}::uuid
    </select>

    <select id="selectRoleAll" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
    </select>

    <select id="selectRoleListByUserId" parameterType="String" resultType="String">
        select r.id
        from "system".sys_role r
                 left join "system".sys_user_role ur on ur.role_id = r.id
                 left join "system".sys_user u on u.user_id = ur.user_id
        where u.id = #{userId}::uuid
    </select>

    <select id="selectRoleById" parameterType="String" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        where r.id = #{roleId}::uuid
    </select>

    <select id="selectRolesByUserName" parameterType="String" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        WHERE r.del_flag = '0' and u.user_name = #{userName}
    </select>

    <select id="checkRoleNameUnique" parameterType="String" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        where r.name=#{roleName} and r.del_flag = '0' limit 1
    </select>

    <select id="checkRoleKeyUnique" parameterType="String" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        where r.key=#{roleKey} and r.del_flag = '0' limit 1
    </select>

    <insert id="insertRole" parameterType="com.ruoyi.common.core.entity.SysRoleEntity" useGeneratedKeys="true"
            keyProperty="id">
        insert into "system".sys_role(
        <if test="id != null and id != ''">id,</if>
        <if test="name != null and name != ''">name,</if>
        <if test="key != null and key != ''">key,</if>
        <if test="sort != null">sort,</if>
        <if test="dataScope != null and dataScope != ''">data_scope,</if>
        <if test="menuCheckStrictly != null">menu_check_strictly,</if>
        <if test="deptCheckStrictly != null">dept_check_strictly,</if>
        <if test="enable != null">enable,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="id != null and id != ''">#{id}::uuid,</if>
        <if test="name != null and name != ''">#{name},</if>
        <if test="key != null and key != ''">#{key},</if>
        <if test="sort != null">#{sort},</if>
        <if test="dataScope != null and dataScope != ''">#{dataScope},</if>
        <if test="menuCheckStrictly != null">#{menuCheckStrictly},</if>
        <if test="deptCheckStrictly != null">#{deptCheckStrictly},</if>
        <if test="enable != null">#{enable},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        now()
        )
    </insert>

    <update id="updateRole" parameterType="com.ruoyi.common.core.entity.SysRoleEntity">
        update "system".sys_role
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="key != null and key != ''">"key" = #{key},</if>
            <if test="sort != null and sort != ''">sort = #{sort},</if>
            <if test="dataScope != null and dataScope != ''">data_scope = #{dataScope},</if>
            <if test="menuCheckStrictly != null">menu_check_strictly = #{menuCheckStrictly},</if>
            <if test="deptCheckStrictly != null">dept_check_strictly = #{deptCheckStrictly},</if>
            <if test="enable != null">enable = #{enable},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = now()
        </set>
        where id = #{id}::uuid
    </update>

    <delete id="deleteRoleById" parameterType="String">
        update "system".sys_role
        set del_flag = '2'
        where id = #{roleId}::uuid
    </delete>

    <delete id="deleteRoleByIds" parameterType="String">
        update "system".sys_role set del_flag = '2' where id in
        <foreach collection="array" item="roleId" open="(" separator="," close=")">
            #{roleId}::uuid
        </foreach>
    </delete>

</mapper> 