<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRoleDeptMapper">

    <resultMap type="com.ruoyi.system.domain.entity.SysRoleDeptEntity" id="SysRoleDeptResult">
        <result property="roleId" column="role_id"/>
        <result property="deptId" column="dept_id"/>
    </resultMap>

    <delete id="deleteRoleDeptByRoleId" parameterType="String">
        delete
        from "system".sys_role_dept
        where role_id = #{roleId}::uuid
    </delete>

    <select id="selectCountRoleDeptByDeptId" resultType="Integer">
        select count(1)
        from "system".sys_role_dept
        where dept_id = #{deptId}::uuid
    </select>

    <delete id="deleteRoleDept" parameterType="String">
        delete from "system".sys_role_dept where role_id in
        <foreach collection="array" item="roleId" open="(" separator="," close=")">
            #{roleId}::uuid
        </foreach>
    </delete>

    <insert id="batchRoleDept" keyProperty="id">
        insert into "system".sys_role_dept(role_id, dept_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.roleId}::uuid,#{item.deptId}::uuid)
        </foreach>
    </insert>

</mapper> 